html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: #000000;
  display: grid;
  place-items: center;
}

.app_videos {
  position: relative;
  height: 99vh;
  border-radius: 20px;
  overflow: scroll;
  width: 99%;
  max-width: 500px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app_videos::-webkit-scrollbar {
  display: none;
}